- if current_user.can_rate?(teacher)
  %p
    %span.mr-2 Please Rate:
    - 5.times do |index|
      %span.rate-char.text-warning{ "data-index": index } ☆
  = form_tag [course, teacher, Rating.new], class: "form form-inline d-none", id: "rating-comment", remote: true do
    .form-group.mb-3
      = text_field_tag :comment, nil, class: "form-control mr-2", placeholder: "Comment...", required: true
      = hidden_field_tag :rating
      = submit_tag "Submit Comment", class: "btn btn-sm btn-primary"
