.modal-dialog.course-form
  .modal-content
    .modal-header
      %h5.modal-title
        - if @course.persisted?
          = "Update Course"
        - else
          = "New Course"
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span ×
    .modal-body
      = render "course_form"
    .modal-footer
      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
      %button.btn.btn-primary.save-course{:type => "button"} Save changes

:javascript
  $(function(){
    App.Admin.Courses.initializeEvents();
  });
