- unless is_admin_page?
  %footer.text-muted
    .container
      %p.float-right
        %a{:href => "#"} Back to top
      %p Is my code good? Or not? Feel free to create an issue in my repository :)
      %p
        = link_to "Source Code", "https://github.com/chabzlala29/edukasyon-ph-app", target: :_blank
