%header
  #navbarHeader.bg-dark.collapse{:style => ""}
    .container
      .row
        .col-sm-8.col-md-7.py-4
          %h4.text-white Edukasyon Classes
          %p.text-muted List of all available classes around the Campus. Search any course and see available professors/instructors and their reviews and ratings.
        .col-sm-4.offset-md-1.py-4
          %h4.text-white Contact
          %ul.list-unstyled
            %li
              %a.text-white{:href => "#"} Follow on Twitter
            %li
              %a.text-white{:href => "#"} Like on Facebook
            %li
              %a.text-white{:href => "#"} Email me
  .navbar.navbar-dark.bg-dark.box-shadow
    .container.d-flex.justify-content-between
      = link_to :courses, class: "navbar-brand d-flex align-items-center mr-auto" do
        %strong Edukasyon Courses
        - if is_admin_page?
          %span.ml-3 Admin
      = link_to "Logout", destroy_user_session_path, class: "btn btn-sm btn-danger mr-2", method: :delete
      - unless is_admin_page?
        = link_to "Go to Admin", [:admin, :courses], class: "btn btn-sm btn-light mr-2"
        %form.form-inline.mt-2.mt-md-0.mr-2
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search Class
      %button.navbar-toggler.collapsed{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
