= search_form_for @q, url: :courses, class: "form-inline mt-2 mt-md-0 mr-2" do |f|
  = f.text_field :name_or_summary_or_room_cont, class: "form-control mr-sm-2", placeholder: "Search"
  = f.submit "Search Class", class: "btn btn-outline-success my-2 my-sm-0"
